*{
	margin: 0px;
	padding: 0px;
}
a{
	text-decoration: none;
}
body{
	font-family: 'Roboto', sans-serif;
}
.img-fluid{
	max-width: 100%;
	height: auto;
}
.wrapper{
	width: 100%;
	height: 100vh;
	padding: 100px 0px;
	background: linear-gradient(#256D85,#25316D);
}
.form-box{
	width: 1000px;
	margin: auto;
	background-color: white;
	border-radius: 8px;
}
.form-row{
	display: flex;
}
.form-left, .form-right{
	flex-basis: 50%;
	position: relative;
}
.desc{
	position: absolute;
	top: 6px;
	left: 6px;
	right: 20px;
}
.right-content{
	padding: 40px 60px;
}
.right-content h2{
	text-transform: uppercase;
	font-weight: 600;
	margin-bottom: 32px;
}
.form-group{
	margin: 16px 0;
	display: block;
	width: 100%;
}
.form-control{
	width: 94%;
	padding: 14px 10px;
}
.d-flex{
	display: flex;
	justify-content: space-between;
}
.f-b-42{
	flex-basis: 40%;
}
.f-b-48{
	flex-basis: 48%;
}
.form-control:focus{
	outline-color: #1C6758;
}
.form-control:focus::placeholder{
	color: #4C0033;
	font-weight: 700;
}
.my-2{
	margin: 34px 0px;
}
.form-group span{
	color: black;
	margin-right: 32px;
}
.form-group label{
	margin-right: 16px;
}
.btn{
	padding: 16px 24px;
	border: none;
	color: black;
	text-transform: uppercase;
	border-radius: 4px;
	margin-left: 8px;
}
.text-right{
	text-align: right;
}
.white{
	background-color: white;
	box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
}
.yellow{
	background-color: #FFB200;
	box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
}  
.fixed{
	position: fixed;
	top: 50px;
	right: 50px;
}

.box{
	width: 500px;
	height: 300px;
	background-color: darkgreen;
	position: relative;
	margin-bottom: 100px;
}
.circle{
	height: 130px;
	width: 160px;
	background-color: darkred;
	border-radius: 100%;
	position: absolute;
	top: 80px;
	left: 150px;
}

.box2{
	width: 500px;
	height: 300px;
	background-color: darkgreen;
	position: relative;
	margin-bottom: 100px;
	position: relative;
}
.minibox{
	height: 60px;
	width: 60px;
	background-color: darkgreen;
	position: absolute;
	bottom: -30px;
	left: 80px;
	transform: rotate(45deg);
}